canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15%;
    margin-right: auto;
    display: block;
    width: 200%;
}
ol {
  margin-left:-110%;
}
p {
 margin-left:10%;
  margin-right:10%;
}
.row {
  display: flex;
}
/* Create two equal columns that sits next to each other */
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 75%;
}
.right {
  width: 20%
}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}